<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PersonalInfo</title>

	<script type="text/javascript" src= "/WebServices/js/angular.min.js"></script>
	<script type="text/javascript" src= "/WebServices/js/angular-resource.min.js"></script>
	<script type="text/javascript" src= "/WebServices/js/angular-route.min.js"></script>
	<script type="text/javascript" src= "/WebServices/js/friendsCtrl.js"></script>
	<script type="text/javascript" src= "/WebServices/js/friendsService.js"></script>
	<script type="text/javascript" src= "/WebServices/js/left.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"> 
	
</head>
<body>
		<!--  <div ng-app="searchFrnds" ng-controller="searchfrndsCtrl"> -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					Friends Section.
				</div>
				<div class="panel-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th><a ng-click="myFriends()">My Friends</a></th>
							
						<tr><th>
							<form  name="myform">
									<input type="text" name="findfrnds" ng-model="name">
									<button ng-click="searchProfile1(name)">find</button>					
							</form>
							<!-- <div ng-view></div> -->
						</th></tr>
					</tbody>
				
				</table>
				</div>
			</div>
		<!-- </div> -->	
		
</body>
</html>